%h3= @oven.name

.cookie-info
  Cookie in oven:
  - if @cookie
    #{@oven.cookies.count} cookies with #{@cookie.fillings || "no fillings"}
    - if @cookie.ready?
      (Your Cookies are Ready)
      = button_to "Retrieve Cookies", empty_oven_path, class: 'button tiny'
  - else
    None

%br

= link_to "Prepare Cookies", new_oven_cookies_path(@oven), class: 'button'